
.section1 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-image: url("/static/first_part.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1550px) {
    .section1 {
        display: flex;
        flex-direction: column;
        height: 80vh;
        /* background-image: url("/static/first_part.png"); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -160px;
    }
}

@media (min-width: 1420px) and (max-width: 1549px) {
    .section1 {
        display: flex;
        flex-direction: column;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px calc(-5vw);
    }
}


.section1 h1 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5rem;
}
.section1 h2 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5rem;
    margin-top: 5rem;
}

.section1 span {
    color: var(--main-color);
}

.section2 {
    display: flex;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-top: 1px solid;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.section2-part1, .section2-part2, .section2-part3 {
    flex-shrink: 1;
}

.section2-part1, .section2-part2, .section2-part3 {
    display: flex;
    min-width: 600px;
    width: 49%;
    font-weight: bold;
}

.section2-part1 p, .section2-part2 p, .section2-part3 p {
    margin-top: 5rem;
    margin-left: 1rem;
}

.section2-part3 {
    margin-left: 15rem;
}


@media (max-width: 1391px) {
    .section2 {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-top: 1px solid;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        row-gap: 1rem;
        column-gap: 1rem;
        padding-top: 0rem;
        margin-bottom: 3rem;
    }
    .section2-part2 {
        align-self: end;
    }
    .section2-part3 {
        align-self: baseline;
        margin-left: 0;
    }
}



/* --------------- ANIMATION -------------------------- */

@keyframes slidleft {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0);
    }
}
@keyframes slidright {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(100px);
    }
}


.scale {
    animation: scale;
}

.slidleft {
    animation: slidleft 1.5s ease-in;
}
.slidright {
    animation: slidright 2s ease-in;
}


/*     ----------------------------- Animation tools ---------------------------- */

.linear {
    animation-timing-function: linear;
}

.dur-3s {
    animation-duration: 3s;
}

.dur-2s {
    animation-duration: 2s;
}

.ease-in {
    animation-timing-function: ease-in;
}