{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Djan Ship{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/basic.css' %}">
    <link rel="stylesheet" href="{% static 'core/nav.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body>
    <div class="page-container">
       <nav>
            <img src="{% static 'core/footer-logo.png' %}" width="190" height="50">
            <div class="navbar-links">
                <a href="#">Home</a>
                <div class="dropdown">
                    <p class="dropbtn">Services &#11167</p>
                    <div class="dropdown-content">
                      <a href="#">Track your Order</a>
                      <a href="#">Send a package</a>
                    </div>
                  </div>
                <a href="#">Menu</a>
                <a href="#">Contact</a>
            </div>
            <div class="account">
                <a href="#" class="login">Login</a>
                <a href="#" class="login register">Register</a>
            </div>
       </nav>

        <div class="content-wrap">
           <!-- all other page content -->
            {% block content %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="footer-h1">
                <div>
                    <img src="{% static 'core/footer1.jpg' %}">             
                </div>
                <div>
                    <img src="{% static 'core/footer2.jpg' %}">             
                </div>
                <div>
                    <img src="{% static 'core/footer3.jpg' %}">             
                </div>
            </div>
            <div class="footer-h2">
                <div class="footer-h2-section1">
                    <img src="{% static 'core/footer-logo.png' %}" width="240" height="60" >

                </div>
                <div class="footer-h2-section2">
                    <p class="footer-section-titles">Find us on social media</p>
                    <div class="footer-h2-social-media">
                        <img src="{% static 'core/ig.jpg' %}" width="40" height="40" >
                        <img src="{% static 'core/fb.jpg' %}" width="40" height="40" >
                        <img src="{% static 'core/x.jpg' %}" width="40" height="40" >
                        <img src="{% static 'core/ln.jpg' %}" width="40" height="40" >
                    </div>
                </div>
                <div class="footer-h2-section3">
                    <p class="footer-section-titles">COMPANY</p>
                    <p>About us</p>
                    <p>Media</p>
                    <p>Team</p>
                    <p>Warranty</p>
                    <p>Privacy Policy</p>

                </div>
                <div class="footer-h2-section4">
                    <p class="footer-section-titles">USEFUL LINKS</p>
                    <p>Contact us</p>
                    <p>Register</p>
                    <p>Team</p>
                    <p>Infos</p>
                </div>
            </div>
       </footer>
    </div>
</body>

</html>
