{% extends "core/base.html" %}
{% load static %}

{% block title %}DjanShip{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/home.css' %}">
{% endblock %}

{% block content %}
    <div class="section1">
        <h2 class="fade linear dur-3s">Transport & logistic Solution</h2>
        <h1 class="fade ease-in dur-3s "><span>#1 Place</span> For YOUR Logistic Solution</h1>
    </div>
    <div class="section2" id="section2">
        <div class="section2-part1 hidden">
            <img src="{% static 'core/section2-part1.jpg' %}" width="300px" height="300px">
            <div>
                <p>Shipping Guarantee</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>    
            </div>
        </div>

        <div class="section2-part2 hidden">
            <img src="{% static 'core/section2-part2.jpg' %}" width="300px" height="300px">
            <div>
                <p>Shipping Guarantee</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>    
            </div>
        </div>

        <div class="section2-part3 hidden dely-2s">
            <img src="{% static 'core/section2-part3.png' %}" width="300px" height="300px">
            <div>
                <p>Shipping Guarantee</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>    
            </div>
        </div>
    </div>


    <script>

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                const section = entry.target;
                // console.log(entry);
                if (entry.isIntersecting) {
                    section.classList.add('show');
                } else {
                    // section.classList.remove('slidleft');
                }
            });
        },
        {
            threshold: 0.4
        }
    );

        const sections = document.querySelectorAll('.section2 > div');
        sections.forEach(section => {
            observer.observe(section);
        });

    </script>
{% endblock %}
