
.section1 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-image: url("/static/core/first_part.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* adjust the section1 background image */

/* @media (min-width: 1550px) {
    .section1 {
        display: flex;
        flex-direction: column;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -160px;
    }
}

@media (min-width: 1420px) and (max-width: 1549px) {
    .section1 {
        display: flex;
        flex-direction: column;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px calc(-5vw);
    }
} */

/* section 1 configuration */

.section1 h1 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5rem;
}
.section1 h2 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5rem;
    margin-top: 5rem;
}

.section1 span {
    color: var(--main-color);
}


/* section2 configuration */

.section2 {
    display: flex;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-top: 1px solid;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.section2-part1, .section2-part2, .section2-part3 {
    flex-shrink: 1;
    display: flex;
    min-width: 600px;
    width: 49%;
    font-weight: bold;
}

.section2-part1 p, .section2-part2 p, .section2-part3 p {
    margin-top: 5rem;
    margin-left: 1rem;
}

.section2-part3 {
    margin-left: 15rem;
}

/* adjust section2 flex box parametr */

@media (max-width: 1391px) {
    .section2 {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-top: 1px solid;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        gap: 0rem;
        padding-top: 0rem;
        margin-bottom: 3rem;
    }
    .section2-part2 {
        align-self: end;
    }
    .section2-part3 {
        align-self: baseline;
        margin-left: 0;
    }
}



/* --------------- ANIMATION -------------------------- */


@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(100px);
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scale {
    animation: scale;
}
.fade {
    animation: fade;
}


.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
    /* animation: scale 3s; */
}

/* section2 animation */

.hidden:nth-child(2) {
    transition-delay: 0.7s;
}
.hidden:nth-child(3) {
    transition-delay: 0.8s;
}


/*     ----------------------------- Animation tools ---------------------------- */

.linear {
    animation-timing-function: linear;
}
.ease-in {
    animation-timing-function: ease-in;
}
.ease {
    animation-timing-function: ease;
}
.dur-3s {
    animation-duration: 3s;
}

.dur-2s {
    animation-duration: 2s;
}
.dur-1s {
    animation-duration: 1s;
}
.dur-3s {
    animation-duration: 3s;
}
.dur-4s {
    animation-duration: 4s;
}
.dur-5s {
    animation-duration: 5s;
}
.dur-6s {
    animation-duration: 6s;
}

.alert-success {
    background-color: rgba(96, 223, 124, 0.842);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.alert-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
}
